#main { 
    display: flex;
    flex-direction: column;
    align-items: center;
}
#myform{
    background-color: brown;
    color: wheat;
    width: 70%;
}
#formdata{
    text-align: center;
}
#heading-1{
    color: black!important; 
    width: 50%;
}
#list-style{
    width: 70%;
    background-color: #a52a2a !important;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}
h2{
    background-color: black;
    color: white;
}
#head2{
    background-color: #a52a2a;
    color: black;
}
.classh{
    background-color: tomato;
    color: cornsilk;
}
#headingnew{
background-color: blueviolet;
color: wheat;
}
#headingc{
background-color: black;
color: thistle;
}
